.c {
    position: relative;
    bottom:10px;
    display: inline-block;
    font-size: 1.3vw;
    letter-spacing: 0.12em;
    transform-origin: center calc(100% + 10px);
    animation: rotate 5s infinite linear;
}


@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}