.section{
    color:white;
    text-align: center;
    margin: auto;
}

.map{
    width: 90%;
    height: 75vh;
}

.map-weather{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.map-container{
    width: 70vw;
}

.weather-container{
    width: 25vw;
}

@media only screen and (max-width: 1000px) {
    .map-weather{
       flex-direction: column;
       align-items: center;
    }
    .map-container{
        width: 80%;
    }
    .map-weather{
        width: 70%;
    }

}