.followUs {
    writing-mode: vertical-lr;
    /* text-orientation: upright; */
    display: flex;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s;
}

.follow-text {
    margin: 0;
    color: white;
    letter-spacing: 3px;
}

.follow-icons{
    display: flex;
    height: 72px;
}


.follow-icons a{
    display: block;
    padding: 5% 0%;
    text-decoration: none;
    color: white;
    transition: all 0.7s;
}

.follow-icons a:hover{
    color:#A68954;
}

.blck{
    box-shadow: 0 8px 32px 0 rgb(37, 37, 39);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}