html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2B2730;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url('../../public/images/bg6.jpg') no-repeat 50% 50%;
    background-size: cover;
    align-items: center;
    filter: grayscale(100%) invert(10%);
}



.content{
    margin: auto;
    width: 85%;
    margin: 4em auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

p,h2{
    text-align: center;
    color:white;
}

.glow {
    color: rgb(41, 123, 255);
    text-shadow: 0px 0px 30px rgb(41, 123, 255);
    transition: all 0.2s ease-in;
}

.logo {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 0 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

tav {
    position: fixed;
    z-index: 2;
    width: 100%;
    line-height: 50px;
}

tav ul {
    line-height: 50px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 0.7s;
}

tav.black ul {
    background: #2B2730;
    z-index: 2;
}

tav ul li {
    display: inline-block;
    padding: 16px 40px;
}


/* to animate navbar links, as line through */
.nav-link {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    transition: all 2s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #A68954;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.menu-icon {
    line-height: 50px;
    width: 100%;
    background: #2B2730;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


#landing-text1{
    color:whitesmoke;
    align-items: center;
    font-size: 7rem;
    display: inline-block;
    letter-spacing: 10px;
    text-shadow: 3px 3px 20px whitesmoke,
            -2px 1px 30px whitesmoke;
    position: relative;
    top:30vh;
    left:35vw;
}

#landing-text2{
    color:whitesmoke;
    align-items: center;
    font-size: 7rem;
    display: inline-block;
    letter-spacing: 10px;
    text-shadow: 3px 3px 20px whitesmoke,
            -2px 1px 30px whitesmoke;
    position: relative;        
    top:50vh;
    left:4vw;
}


#est{
    color: whitesmoke;
    position: relative;
    font-size: 1rem;
    top:5vh;
    right:12vw;
}

#landing-text1 span {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
#landing-text2 span {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
#landing-text span {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#landing-text1 span:nth-child(1) {
    animation-delay: 1.3s;
}

#landing-text1 span:nth-child(2) {
    animation-delay: 1.6s;
}

#landing-text1 span:nth-child(3) {
    animation-delay: 1.9s;
}
#landing-text1 span:nth-child(4) {
    animation-delay: 2.2s;
}
#landing-text1 span:nth-child(5) {
    animation-delay: 2.5s;
}
#landing-text2 span:nth-child(1) {
    animation-delay: 2.8s;
}
#landing-text2 span:nth-child(2) {
    animation-delay: 3.1s;
}
#landing-text2 span:nth-child(3) {
    animation-delay: 3.4s;
}
#landing-text2 span:nth-child(4) {
    animation-delay: 3.7s;
}
#landing-text2 span:nth-child(5) {
    animation-delay: 4.0s;
}
#landing-text2 span:nth-child(6) {
    animation-delay: 4.3s;
}
#landing-text2 span:nth-child(7) {
    animation-delay: 4.6s;
}
#landing-text2 span:nth-child(8) {
    animation-delay: 4.9s;
}


@media(max-width: 892px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    tav ul {
        max-height: 0px;
        background: #2B2730;
    }

    tav.black ul {
        background: #2B2730;
    }

    .showing {
        max-height: 34em;
    }

    tav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    #landing-text{
      font-size: 5rem;
      margin:0;
    }
}


/* hidden and show classes flying text */
.fly-hidden{
    opacity: 0;
    transform: translateY(40%);
    transition: all 0.7s;
}

.fly-show{
    opacity: 1;
    transform: translateY(0);
}