html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2B2730;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url('../../public/images/bg6.jpg') no-repeat 50% 50%;
    background-size: cover;
    /* filter: grayscale(100%); */
}



.content{
    margin: auto;
    width: 85%;
    margin: 4em auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

p,h2{
    text-align: center;
    color:white;
}

.glow {
    color: rgb(41, 123, 255);
    text-shadow: 0px 0px 30px rgb(41, 123, 255);
    transition: all 0.2s ease-in;
}

.logo {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 0 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

tav {
    position: fixed;
    z-index: 2;
    width: 100%;
    line-height: 50px;
}

tav ul {
    line-height: 50px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

tav.black ul {
    background: #2B2730;
    z-index: 2;
}

tav ul li {
    display: inline-block;
    padding: 16px 40px;
}


/* to animate navbar links, as line through */
.nav-link {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    transition: all 2s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.menu-icon {
    line-height: 50px;
    width: 100%;
    background: #2B2730;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 892px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    tav ul {
        max-height: 0px;
        background: #2B2730;
    }

    tav.black ul {
        background: #2B2730;
    }

    .showing {
        max-height: 34em;
    }

    tav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}


/* hidden and show classes flying text */
.fly-hidden{
    opacity: 0;
    transform: translateY(30%);
    transition: all 1.5s;
}

.fly-show{
    opacity: 1;
    transform: translateY(0);
}