@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");


.review-section{
    margin:80px;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    transition: all 0.7s;
}

.review-card {
    font-family: "Roboto", sans-serif;
    align-self: flex-start;
    font-weight: 300;
    background-color: #27374d;
    color: white;
    width: 300px;
    border-radius: 20px;
    border:0px;
    padding: 15px;
    margin: 5px 5px;
    text-align: center;
    transition: all 0.7s;
}

.review-card:hover{
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 1px;
}

.zoomOff{
    transform: scale(1.2);
}

.avatar {
    align-items: center;
    margin: auto;
}

.review-card-name {
    margin-bottom: 5px;
}

.review-card-date {
    font-size: 0.8rem;
    font-weight: 5;
    margin-top: 5px;
}

.review-link{
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.review-p{
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .review-section{
        margin: 30px;
    }
}